<?xml version="1.0"?>
<launch>
  <group ns="virtual_ecu_proxy">

    <node pkg="virtual_ecu_proxy" type="virtual_ecu_proxy_publisher_node1_bus1" name="virtual_ecu_proxy_publisher_node1_bus1">
    </node>
    <node pkg="virtual_ecu_proxy" type="virtual_ecu_proxy_publisher_node1_bus2" name="virtual_ecu_proxy_publisher_node1_bus2">
    </node>
    <node pkg="virtual_ecu_proxy" type="virtual_ecu_proxy_subscriber_node1_bus1" name="virtual_ecu_proxy_subscriber_node1_bus1">
    </node>
    <node pkg="virtual_ecu_proxy" type="virtual_ecu_proxy_subscriber_node1_bus2" name="virtual_ecu_proxy_subscriber_node1_bus2">
    </node>

    <node pkg="virtual_ecu_proxy" type="virtual_ecu_proxy_publisher_node2_bus1" name="virtual_ecu_proxy_publisher_node2_bus1">
    </node>
    <node pkg="virtual_ecu_proxy" type="virtual_ecu_proxy_publisher_node2_bus2" name="virtual_ecu_proxy_publisher_node2_bus2">
    </node>
    <node pkg="virtual_ecu_proxy" type="virtual_ecu_proxy_subscriber_node2_bus1" name="virtual_ecu_proxy_subscriber_node2_bus1">
    </node>
    <node pkg="virtual_ecu_proxy" type="virtual_ecu_proxy_subscriber_node2_bus2" name="virtual_ecu_proxy_subscriber_node2_bus2">
    </node>


  </group>
</launch>

